@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9764 0.0045 214.33);
    --foreground: oklch(25.99% 0.0213 248.65);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.6443 0.1714 249.6);
    --primary-foreground: oklch(98.54% 0.0013 286.38);
    --secondary: oklch(100% 0 0);
    --secondary-foreground: oklch(54.74% 0.0291 244.76);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(54.74% 0.0291 244.76);
    --accent: oklch(0.6443 0.1714 249.6 / 5%);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --error: oklch(0.577 0.245 27.325 / 0.15);
    --success: oklch(0.55 0.15 145);
    --success-foreground: oklch(0.98 0 0);
    --border: oklch(88.53% 0 0);
    --input: oklch(0% 0 0 / 23%);
    --ring: oklch(0.6443 0.1714 249.6);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
}

.dark {
    --background: oklch(21.5% 0.0165 252.5);
    --foreground: oklch(100% 0 0);
    --card: oklch(0.2599 0.0213 248.65);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.2599 0.0213 248.65);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(54.73% 0.2183 284.05);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(25.99% 0.0213 248.65);
    --secondary-foreground: oklch(69.32% 0.0242 248.18);
    --muted: oklch(69.32% 0.0242 248.18 / 7.84%);
    --muted-foreground: oklch(54.74% 0.0291 244.76);
    --accent: oklch(25.99% 0.0213 248.65);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.637 0.237 25.331);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --error: oklch(0.637 0.237 25.331 / 0.2);
    --success: oklch(0.5 0.12 145);
    --success-foreground: oklch(0.98 0 0);
    --sidebar: oklch(0.21 0.02 252);
    --sidebar-foreground: oklch(0.985 0 0);
    --border: oklch(31.26% 0.0241 251.04);
    --input: oklch(0.4245 0.0093 241.85);
    --ring: oklch(54.73% 0.2183 284.05);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    .fullscreen-center {
        @apply flex min-h-screen w-screen items-center justify-center;
    }
    .max-h-modal {
        max-height: calc(100vh - var(--spacing, 1rem) * 34);
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
